// General
$ml-stack-nav-base-duration: .3s !default;

// .ml-stack-nav-toggle
$ml-stack-nav-toggle-color: #525261 !default;

// .ml-stack-nav
$ml-stack-nav-menu-level-offset: 20px !default;
$ml-stack-nav-menu-zindex: 900 !default;
$ml-stack-nav-menu-border: 1px solid #000 !default;
$ml-stack-nav-menu-bg-color: #fff !default;
